@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: whitesmoke;
  color: #17421d;
}

.container {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  box-shadow: 15px 15px 8px gray;
}

.banner {
  display: block;
  width: 100%;
  height: 250px;
  text-align: center;
  font-size: 60px;
  background-image: url("/static/img/background.png");
  background-size: 100% 100%;
  margin: 0px 0px 0px 0px;
  padding-top: 150px;
  color: #CAF0F8;
  font-family: 'Mea Culpa', cursive;
}

.menu {
  display: block;
  width: 100%;
  height: 50px;
  font-size: larger;
  background-color: #03045E;
  text-align: center;
  padding-top: 15px;
  margin: 0px 0px 0px 0px;
  border-width: 1px;
}

.menuitem {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
.menuitemselected {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  color: #00B4D8;
}

.menuitem a {
  text-decoration: none;
  color: #90E0EF;
}

.content {
  display: block;
  width: 100%;
  background-color: #cffffd;
  min-height: 500px;
  margin: 0px 0px 0px 0px;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  text-align: center;
}

.scrollingwelcome{
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
}
.homecontent {
  min-height: 500px;
  margin: 10px 10px 10px 10px;
  width: 1080px;
}
.homecontent h1 {
  text-align: left;
}
.homecontent img {
  float: right;
  width: 380px;
  height: 300px;
  margin-left: 10px;
}

.contenttext {
  text-align: justify;
  width: 98%;
}
.contentimg{
  display: inline-block;
  padding-right: 5px;
  text-align: left;
}

.productcontent {
  min-height: 500px;
  margin: 10px 10px 10px 10px;
  text-align: center;
}

.productcontent h1 {
  text-align: left;
}

.productitems {
  display: block;
  text-align: center;
}

.productitem {
  display: inline-block;
  width: 30%;
  height: 250px;
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
}

.productitem img {
  width: 100px;
  height: 100px;
  display: block;
}
.productitem .itemimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  margin-bottom: 5px;
}

.productitem .itemname {
  display: block;
}
.productitem .itemprice {
  display: block;
}

.footer {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #03045E;
  text-align: center;
  padding-top: 10px;
  margin: 0px 0px 0px 0px;
  color: #ADE8F4;
}
.td1{
  width: 100%;
  text-align: center;
  padding-left: 5px;
  padding-bottom: 50px;
}

.td{
  width: 98%; 
  border: 0px;
  text-align: center;
}
.td2{
  width: 50%;
text-align: center;
padding-left: 5px;
padding-bottom: 5px;
}
.td4{
  width: 20%;
text-align: center;
padding-left: 5px;
padding-bottom: 5px;
}
.td5{
  width: 98%; 
  border: 0px;
  text-align: center;
  background-color: darkblue;
  color: aliceblue;
  border-right: aliceblue;
}